<template>
  <div class="about">
    <h1>This is VueJs demo project</h1>
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/auth";
export default {
  created(){
    let arr = [];
    let filterdArr = arr.filter(record => record)
    console.log(filterdArr)
  }
};
</script>

<style scoped>
</style>
