<template>
  <div  style="margin-top: 10px">
    <el-row align="center" justify="center" style="margin-top: 10px">
      <h1>User Management</h1>
    </el-row>
    <el-row/>
    <el-row align="center" justify="center"  style="margin-top: 10px">
      <Search/>
    </el-row>
    <el-row align="center" justify="center" style="border-style: solid;border-width: 2px;margin-top: 20px">
      <UserList @updateUser="updateUser" @deleteUser="deleteUser" :users="users"/>
    </el-row>
    <el-row align="center" justify="center">
      <el-button type="text" @click="displayDialog">Add new user</el-button>
      <el-dialog :visible="dialogVisible" width="30%" @close="closeDialog">
        <AddUser @addUser="addUser"/>
      </el-dialog>
    </el-row>
  </div>
</template>

<script>
// @ is an alias to /src

import UserList from "@/components/UserList.vue";
import AddUser from "@/components/AddUser.vue";
import Search from "@/components/Search.vue";

export default {
  name: "home",
  components: {
    AddUser,
    UserList,
    Search
  },

  data() {
    return {};
  },
  computed: {
    users() {
      return this.$store.getters.displayedUsers;
    },
    dialogVisible() {
      return this.$store.state.dialogVisible;
    }
  },
  methods: {
    addUser(user) {
      databaseService.addUser(Math.round(Math.random() * 1000), user);
    },
    deleteUser(userKey) {
      databaseService.deleteUser(userKey);
    },
    updateUser(user) {
      databaseService.updateUser(user);
    },
    displayDialog() {
      this.$store.commit("displayDialog");
    },
    closeDialog(){
      this.$store.commit("closeDialog");
    }
  },
  created() {
    this.$store.dispatch("setUsers");
  }
};
</script>
<style scoped>
  h1{
    text-align: center
  }
</style>
