<template>
  <div>
    <el-row :gutter="2">
      <el-col :span="4">
        <p>Email</p>
      </el-col>
      <el-col :span="4">
        <p>Name</p>
      </el-col>
      <el-col :span="3">
        <p>Address</p>
      </el-col>
      <el-col :span="4">
        <p>Birth</p>
      </el-col>
      <el-col :span="2">
        <p>Marriaged</p>
      </el-col>
      <el-col last-col :span="4">
        <p>Job</p>
      </el-col>
      <el-col last-col :span="3">
        <p>Action</p>
      </el-col>
    </el-row>
    <User
      @deleteUser="deleteUser"
      @updateUser="updateUser"
      v-for="user in users"
      :key="user.key"
      :info="user"
    ></User>
  </div>
</template>

<script>
import User from "./User.vue";

export default {
  name: "Userlist",
  components: {
    User
  },
  props: {
    users: {}
  },
  methods: {
    deleteUser(userKey) {
      this.$emit("deleteUser", userKey);
    },
    updateUser(user) {
      this.$emit("updateUser", user);
    }
  }
};
</script>

<style scoped>
  .el-col{
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    text-align: center
  }
</style>