<template>
  <el-container id="app">
    <!-- <img src="./assets/logo.png">
    <h1> {{name}}</h1>
    <el-button @click="reverseName">Reverse name</el-button>-->
    <el-header>
      <el-menu mode="horizontal">
        <el-menu-item index="1">
          <router-link to="/">Home</router-link>
        </el-menu-item>
        <el-menu-item index="2">
          <router-link to="/about">About</router-link>
        </el-menu-item>
        <el-menu-item v-if="!canSignOut" index="3">
          <router-link to="/login">Log In</router-link>
        </el-menu-item>
        <el-menu-item v-if="canSignOut" index="4">
          <a @click="signOut">Log out</a>
        </el-menu-item>
      </el-menu>
    </el-header>
    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</template>

<script>
export default {
  name: "app",

  components: {},

  methods: {
    // reverseName() {
    //   this.name = this.name
    //     .split("")
    //     .reverse()
    //     .join("");
    // },
    signOut() {
      this.$store.dispatch("signOut");
    }
  },

  data() {
    return {
      name: "app"
    };
  },
  computed: {
    canSignOut() {
      return (this.$store.getters.auth);
    }
  }

  // beforeCreate(){
  //   this.name=10;
  //   console.log(this.name) // 10

  // },

  // created(){
  //   console.log(this.name); // app
  // },

  // beforeMount(){
  //   console.log(this.$el); // undefined
  //   console.log(document.getElementById('app').innerText); // blank

  // },

  // mounted(){
  //   console.log(this.$el); //div
  //   console.log(document.getElementById('app').innerText); // app Reserve Name
  // },

  // beforeUpdate(){
  //   console.log(document.getElementById('app').innerText) // app Reserve Name
  // },

  // updated(){
  //   console.log(document.getElementById('app').innerText) //ppa Reserve Name
  // },

  // beforeDestroy(){
  //   console.log(this.$el); // just this.$el
  // },

  // destroyed(){
  //   console.log(this); //error
  // }
};
</script>

<style>
</style>
